body {
  margin: 20px;
  margin-bottom: 50px;
}
.image img {
  width: 500px;
}
.total-income {
  background-color: rgb(235, 232, 232);
}

#error-field {
  background-color: rgb(252, 126, 126);
  color: rgb(77, 4, 4);
  width: 50%;
  padding: 5px;
  margin-left: 28%;
  display: none;
  border-radius: 5px;
  border: 1px solid;
}
